@{
    if (Model.HasProcurementFilter)
    {
        <h4>Procurement: @Model.Procurement.Description</h4>
        <hr />
        <p>
            <a asp-page="../procurements/details"
               asp-route-id="@Model.ProcurementId"
               class="btn btn-light btn-outline-secondary">
                <i class="fas fa-angle-left"></i> Back to Procurement
            </a>
            <a asp-page="Create"
               asp-route-procurementid="@Model.ProcurementId"
               class="btn btn-light btn-outline-secondary">
                <i class="fas fa-plus-square"></i> Add Bid
            </a>
        </p>
    }
    else
    {
        <hr />
    }
}
