@page
@model ProcurementTracker.Pages.Procurements.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Procurement</h1>
<hr />

<p>
    <a asp-page="Index" class="btn btn-light btn-outline-secondary"><i class="fas fa-angle-left"></i> Cancel</a>
</p>
<div class="row">
    <div class="col-sm-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Procurement.Subject" class="control-label"></label>
                <input asp-for="Procurement.Subject" class="form-control col-sm-8" />
                <span asp-validation-for="Procurement.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" asp-for="Procurement.IsPlanned" />
                <label asp-for="Procurement.IsPlanned" class="control-label"></label>
                <span asp-validation-for="Procurement.IsPlanned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procurement.Description" class="control-label"></label>
                <textarea asp-for="Procurement.Description" class="form-control col-sm-8" rows="3"></textarea>
                <span asp-validation-for="Procurement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procurement.Department" class="control-label"></label>
                <input asp-for="Procurement.Department" class="form-control col-sm-4" />
                <span asp-validation-for="Procurement.Department" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <label asp-for="Procurement.Quantity" class="control-label"></label>
                    <input asp-for="Procurement.Quantity" type="number" class="form-control" />
                    <span asp-validation-for="Procurement.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Procurement.EstimatedAmount" class="control-label"></label>
                    <input asp-for="Procurement.EstimatedAmount" type="number" class="form-control" />
                    <span asp-validation-for="Procurement.EstimatedAmount" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-3">
                    <label asp-for="Procurement.Currency" class="control-label"></label>
                    <select asp-for="Procurement.Currency" asp-items="Model.Currencies" class="form-control"></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label asp-for="Procurement.ProcurementType" class="control-label"></label>
                    <select asp-for="Procurement.ProcurementType" asp-items="Model.ProcurementTypes" class="form-control"></select>
                    <span asp-validation-for="Procurement.ProcurementType" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Procurement.FundingSource" class="control-label"></label>
                    <select asp-for="Procurement.FundingSource" asp-items="Model.FundingSources" class="form-control"></select>
                    <span asp-validation-for="Procurement.FundingSource" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Procurement.ProcurementMethod" class="control-label"></label>
                    <select asp-for="Procurement.ProcurementMethod" asp-items="Model.ProcurementMethods" class="form-control"></select>
                    <span asp-validation-for="Procurement.ProcurementMethod" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
