@page
@model ProcurementTracker.Pages.Procurements.EditModel

@{
    ViewData["Title"] = "Edit Procurement";
}

<h1>Edit Procurement</h1>
<hr />

<p>
    <a asp-page="./Details" asp-route-id="@Model.Procurement.Id" class="btn btn-light btn-outline-secondary"><i class="fas fa-angle-left"></i> Cancel</a>
</p>

<div class="row">
    <div class="col-sm-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Procurement.Id" />
            <input type="hidden" asp-for="Procurement.Status" />

            <p class="lead">Status: <span class="badge bg-@Model.Procurement.StatusColorCode text-@Model.Procurement.StatusTextColorCode">@Model.Procurement.Status</span></p>

            <partial name="Procurements/_EditProcurementBasicData" />            
            <partial name="Procurements/_EditProcurementInitiationAndEoIRequest" />
            <partial name="Procurements/_EditProcurementBiddingPeriod" />
            <partial name="Procurements/_EditProcurementBidsEvaluation" />
            <partial name="Procurements/_EditProcurementNegotiations" />
            <partial name="Procurements/_EditProcurementAdministrativeReview" />

            <div class="form-group pt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
