@page
@model ProcurementTracker.Pages.Procurements.EditModel

@{
    ViewData["Title"] = "Edit Procurement";
}

<h1>Edit Procurement</h1>
<hr />

<p>
    <a asp-page="./Details" asp-route-id="@Model.Procurement.Id" class="btn btn-light btn-outline-secondary"><i class="fas fa-angle-left"></i> Cancel</a>
</p>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Procurement.Id" />
            <div class="form-group">
                <label asp-for="Procurement.Subject" class="control-label"></label>
                <input asp-for="Procurement.Subject" class="form-control" />
                <span asp-validation-for="Procurement.Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procurement.Description" class="control-label"></label>
                <input asp-for="Procurement.Description" class="form-control" />
                <span asp-validation-for="Procurement.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procurement.EstimatedAmount" class="control-label"></label>
                <input asp-for="Procurement.EstimatedAmount" class="form-control" />
                <span asp-validation-for="Procurement.EstimatedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procurement.ProcurementMethod" class="control-label"></label>
                <select asp-for="Procurement.ProcurementMethod" class="form-control" asp-items="Model.ProcurementMethods"></select>
                <span asp-validation-for="Procurement.ProcurementMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procurement.Status" class="control-label"></label>
                <select asp-for="Procurement.Status" class="form-control" asp-items="Model.ProcurementStatuses" ></select>
                <span asp-validation-for="Procurement.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
